nav {
    background-color: black;
}
nav ul li {
    display: inline;
    margin-right: 3rem;
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}
h1 {
    text-align: center;
}
img {
    margin-left: 50%;
}
body {
    background-color: rgb(152, 136, 211);
}