img {
    width: 400px;
    height: 200px;
    border: 2px black solid;
}
.eagle img {
    
    /* padding: 5px 5px 30px 5px; */

    border: 5px black solid;
    padding: 10px 10px 55px 10px;
    width: 50%;
    transform: rotate(
20deg);
    position: absolute;
    top: 20%;
    left: 10%;
    /* margin-left: 300px; */
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(100);
}